<%- include('../partials/header'); %>

<main class="main" id="404Main">
    <div class="container">
        <h2 class="h2-heading text-center">The page you requested was overcooked!</h2>
        <img src="https://media.tenor.com/ln5lwQExi9wAAAAM/cooking-fail.gif" alt="404 Error Gig" class="img-fluid d-block mx-auto error-gif">
    </div>
</main>

<%- include('../partials/footer'); %>